In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
try:
    connection_string = os.environ["CONNECTION_STRING"]
except:
    connection_string = 'postgresql://user:pass@warehouse:5432/warehouse_db'

engine = create_engine(connection_string)

In [3]:
query = """
    SELECT short_measure_name, AVG(NULLIF(value, 'NaN'))
    FROM fact_measure fm
    JOIN dim_date dd 
      ON fm.date_id = dd.id
    JOIN dim_time dt
      ON fm.time_id = dt.id
    JOIN dim_duration ddu
      ON fm.duration_id = ddu.id
    JOIN dim_station ds
      ON fm.source_id = ds.id
    JOIN dim_measurement_type dmt
      ON fm.measurement_type_id = dmt.id
    GROUP BY short_measure_name
"""
pd.read_sql(query, engine)

  short_measure_name        avg
0                NO2  15.690432
1                SO2   4.491315
2               PM10  24.317623
3                 O3  73.620994
4              PM2.5   8.441040